{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='js/login.js') }}"></script>
  <link href= "{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" />
{% endblock %}
{% block content %}

<div>
	{% for i in get_flashed_messages() %}
	<p><font color="yellow" style="vertical-align: middle">{{ i }}</font></p>
	{% endfor %}
</div>

<div class="login">
  <form  action="/signin" id="myForm" align-content="center" method="POST">
    Username : <input type="text" name="username"/><br/>
    Password : <input type="password" name="password"/>
    <br/><br/>
	  <button type="submit" id="signin" style="vertical-align: middle">Log In</button>
	</form>	  
</div>

{% endblock %}
