{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
	{{ super() }}
	
  <link href= "{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
<header>
	<a href="/logout"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_LSMB-JfAQUZb7OVcQCsgiJjy5KoFvmmfQCvfFW_WOjwFc-ng" width="30" height="30" align="right" alt="Logout"></a>
</header>
{% endblock %}
{% block content %}
<p align="right"><font color="blue" size="4px">Hello {{ name }}<p></font>
</br>
<table>
	<tr>
		<font color="green" size="7px"><a style="text-decoration: none" href="/locate">   🌎</a></font><font color="yellow" size="10px"> Find your favourite Place!!</font>
	</tr>
	<br/>
	<br/>
	<br/>
	<tr>
		<font color="green" size="7px"><a style="text-decoration: none" href="/navigate">   🌎</a></font><font color="yellow" size="10px"> Wanna find out how much time you require to meet your bestie</font>
	</tr>
</table>
{% endblock %}